certifi==2021.10.8
charset-normalizer==2.0.12
decorator==4.0.11
idna==3.3
imageio==2.1.2
InstagramAPI==1.0.2
moviepy==0.2.3.2
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-toolbelt==0.7.0
six==1.16.0
tqdm==4.11.2
uplink==0.9.7
uritemplate==4.1.1
urllib3==1.26.9
